<header>
  <nav class="navbar">
    <a href="/" class="navbar-brand">
      <img src="/images/TechNews Logo.webp" alt="Logo TechNews" />
    </a>

    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="hamburger">&#9776;</label>

    <ul class="nav-item">
      <li class="nav-link"><a href="/">Home</a></li>
      <li class="nav-link"><a href="https://github.com/21Chillie">More Projects</a></li>
			<li class="nav-link"><a href="https://reskialamsyah.vercel.app/">About Me</a></li>
      <li class="nav-link"><a href="/create-blog">Create Blog</a></li>
    </ul>
  </nav>
</header>
